# Next.js & Turbopack cache
.next/
out/

# Astro & Vite build outputs
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
.env.local
.env.*.local

# macOS & OS files
.DS_Store
Thumbs.db

# JetBrains & IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json


# Legacy backups
_nextjs_backup/
.next/
